/* Контейнер метрики */
[data-testid="metric-container"] {
    justify-content: center;
} 

/* Лейбл метрики */
[data-testid="stMetricLabel"] > div:nth-child(1) {
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
}

/* Значение метрики */
[data-testid="stMetricValue"] > div:nth-child(1) {
    justify-content: center;
    font-weight: 600;
}

/* Дельта метрики */
[data-testid="stMetricDelta"] {
    justify-content: center;
    margin-right: 20px;
}

[data-testid="stMetricDelta"] svg {
    visibility: hidden;
}

[data-testid="stMetricDelta"] > div {
    width: auto;
}

/* Style columns */
[data-testid="column"] {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 1em;
    background: white;
}  

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
  
/* Style container block 
[data-testid="stVerticalBlock"] > [style*="flex-direction: column;"] > [data-testid="stVerticalBlock"] {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    background-color: rgb(0 0 0 / 8%);
    padding: 1em;
    border-radius: 8px;
} */

/* enforece font on plotly */
.js-plotly-plot .plotly, .js-plotly-plot .plotly div {
    font-family: "Source Sans Pro", sans-serif !important;
}

/* remove View fullscreen button */
/* button[title="View fullscreen"] {
    visibility: hidden;
} */