/* Вотермарка (логотип стримлита) */
footer {
    visibility: hidden;
}

/* Контейнер метрики */
[data-testid="metric-container"] {
    border: 2px solid #31333F;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    justify-content: center;
} 

/* Лейбл метрики */
[data-testid="stMetricLabel"] > div:nth-child(1) {
    justify-content: center;
}

/* Значение метрики */
[data-testid="stMetricValue"] > div:nth-child(1) {
    justify-content: center;
}

/* Значение метрики */
[data-testid="stMetricDelta"] > div:nth-child(1) {
    justify-content: center;
}