{% load static %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/addproject_script.js' %}"></script>
    <script>
      function cloneForm() {
        let formIdx = $('#id_students-TOTAL_FORMS').val();
        $('#student-form-set').append($('#empty-form').html().replace(/__prefix__/g, formIdx));
        $('#id_students-TOTAL_FORMS').val(parseInt(formIdx) + 1);
      }

      $(document).ready(function() {
        $('#add-student-button').click(function() {
          cloneForm();
        });
      });
    </script>
</head>
<body>
    <div class="m-5">
        <h1>Add Project</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <h2>Students</h2>
            {{ formset.management_form }}
            <div>
                <input type="hidden" name="students-TOTAL_FORMS" value="{{ formset.total_form_count }}" id="id_students-TOTAL_FORMS">
                <input type="hidden" name="students-INITIAL_FORMS" value="{{ formset.initial_form_count }}" id="id_students-INITIAL_FORMS">
                <input type="hidden" name="students-MIN_NUM_FORMS" id="id_students-MIN_NUM_FORMS">
                <input type="hidden" name="students-MAX_NUM_FORMS" id="id_students-MAX_NUM_FORMS">
            </div>
            <table class="table" id="formset-container">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Group Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                        <tr class="student-form">
                            <td>{{ form.student }}</td>
                            <td>{{ form.group_number }}</td>
                            <td><button type="button" class="btn btn-danger btn-sm delete-form">Delete</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button id="add-student-button" type="button">Add Another Student</button>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</body>
<script>
    $(document).ready(function () {
        var formIdx = {{ formset.total_form_count }};
        $('#add-student-button').click(function () {
            $('#formset-container').append($('#empty-form').html().replace(/__prefix__/g, formIdx));
            formIdx++;
        });
        $('#formset-container').on('click', '.delete-form', function () {
            $(this).parents('tr').remove();
            formIdx--;
        });
    });
</script>
</body>