/* [data-testid="column"]:nth-child(-n+2) {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    border-radius: 0.25rem;
    border-color: rgba(250, 250, 250, 0.2);
    border-width: 1px;
    border-style: solid;
    padding: 1em;
}   */