{% load static %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/addproject_script.js' %}"></script>
</head>

<body>
    <div class="m-5">
        <form method="post">
            {% csrf_token %}
            <h2>Teachers</h2>
            {{ formset.management_form }}
            <div id="form_set">
                {% for formset in formset.forms %}
                    <table class='no_error'>
                        <div id="formset">
                            {{ formset.as_p }}
                            <button type="button" value="Delete" class="btn btn-danger btn-sm delete-form">Delete</button>
                        </div>
                    </table>
                {% endfor %}
            </div>
            <input type="button" value="Add More" id="add_more">
            <div id="empty_form" style="display:none">
                <table class='no_error'>
                    <div id="formset">
                        {{ formset.empty_form.as_p }}
                        <button type="button" value="Delete" class="btn btn-danger btn-sm delete-form">Delete</button>
                    </div>
                </table>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            <a class="btn btn-close btn-lg" href="{% url 'update-teacher-hub-event' event %}">Cancel</a>
        </form>
    </div>
</body>

<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>

<script>
    $(document).on('click', '.delete-form', function() {
    $(this).closest('div').remove();
    var forms = $('#form_set').children('div');
    $('#id_form-TOTAL_FORMS').val(forms.length);
    // update indices
    for (var i=0, formCount=forms.length; i<formCount; i++) {
        $(forms.get(i)).find('input').each(function() {
            var name = $(this).attr('name').replace(/-\d+-/g, '-' + i + '-');
            $(this).attr('name', name);
            var id = 'id_' + name;
            $(this).attr('id', id);
        });
    }
});
</script>

